#Handlig Imbalanced Dataset 


1.Up Sampling
2.Down Sampling

In [3]:
import numpy as np
import pandas as pd

#set the random seed for reproducibility
np.random.seed(123)

#create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [7]:
#create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1,size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1,size=n_class_1),
    'target': [1]*n_class_1
})

In [9]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [10]:
df

     feature_1  feature_2  target
0    -0.367419  -0.016102       0
1     0.575273   0.747010       0
2     0.439351  -0.257842       0
3    -0.728152   0.561622       0
4    -0.888530   0.295353       0
..         ...        ...     ...
995   2.300311   3.140850       1
996   2.777139   1.428622       1
997   2.589859   2.675585       1
998   0.013286   2.244925       1
999   1.660141   3.691645       1

[1000 rows x 3 columns]

In [11]:
df.head()

   feature_1  feature_2  target
0  -0.367419  -0.016102       0
1   0.575273   0.747010       0
2   0.439351  -0.257842       0
3  -0.728152   0.561622       0
4  -0.888530   0.295353       0

In [12]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

#Upsampling

In [13]:
#create 2 dataframe

df_minority = df[df['target'] == 1]
df_majority = df[df['target']== 0]

In [16]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, replace =True, #sample with replacement
         n_samples = len(df_majority),
         random_state = 42
        )

In [17]:
df_minority_upsampled.shape

(900, 3)

In [18]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.998884   1.803756       1
992   2.361990   0.739604       1
914   0.932880   0.904999       1
971   2.409614   3.507181       1
960   1.874774   3.425993       1

In [19]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [20]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

#Downsampling

In [21]:
import pandas as pd

In [22]:
#set the random seed for reproducibility
np.random.seed(123)

In [25]:
#create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_1

In [26]:
n_class_0, n_class_1

(900, 100)

In [32]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale =1,size = n_class_0),
    'feature_2': np.random.normal(loc=0, scale =1, size =n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2,scale =1,size = n_class_1),
    'feature_2': np.random.normal(loc =2, scale =1, size =n_class_1),
    'target': [1]*n_class_1
})

In [33]:
df_minority =df[df['target']==1]
df_majority = df[df['target']==0]

In [34]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, replace =False,
                                  n_samples = len(df_minority),
                                  random_state = 43)

In [36]:
df_majority_downsampled.shape

(100, 3)

In [37]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [39]:
df_downsampled.target.value_counts()

1    100
0    100
Name: target, dtype: int64